h1{
	
	background-color:Gainsboro; 
	color:black;
	text-align: center;
	font-weight:10;
	border-radius:1px;
	 
	
	margin-left:15%;
	margin-right:15%;
	
	margin-top:5%;
}

h2{
	
	background-color:#337ab7; 
	color:white;
	text-align:left;
	font-weight:10;
    border-radius:2px;
	
	 
	
	margin-left:15%;
	margin-right:15%;
	
	margin-top:3%;
}
.container {
  padding: 16px;
  margin-left:15%;
}